/* Gruvbox Dark Theme Colors */

/* Background colors */
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

/* Primary accent colors */
@define-color red #cc241d;
@define-color orange #d65d0e;
@define-color yellow #d79921;
@define-color green #98971a;
@define-color aqua #689d6a;
@define-color blue #458588;
@define-color purple #b16286;

/* Foreground colors */
@define-color fg #ebdbb2;
@define-color grey0 #a89984;
@define-color grey1 #928374;
@define-color grey2 #7c6f64;
